h1 {
    font-family: 'Gills Sans', sans-serif;
    font-weight: 600;
  }
  p {
    font-family: 'Arial';
    font-size: 21px;
  }

.navbar-brand {
    position: relative;
    background-image: url("../img/logo.png");
    width: 170px;
    height: 40px;
    background-size: contain;
}

.bg-pink {
    background-color: #fd79a8;
}

.bg-purple {
    background-color: #a29bfe;
}

.bg-green {
    background-color: #00b894;
}

.bg-blue {
    background-color: #0984e3;
}

.bg-yellow {
    background-color: #fdcb6e;
}

.btn-rounded {
    padding: 0px 25px 0px 25px;
    color: #ffffff;
    font-size: 18px;
    height: 50px;
    line-height: 1.55;
    border-radius: 60px;
    background-position: center center;
    border-color: rgba(255,255,255,.55);
    border-style: solid;
}


.card-props {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -.18rem;
}

.card-prop {
    background: #f3f3f4;
    color: #212529;
    border-radius: .32rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.3;
    letter-spacing: -.01rem;
    font-size: .82rem;
    padding: .25rem .69rem .19rem;
    margin: .19rem;
}

.card-prop.active {
    background: #00b894;
    color: white;
    font-weight: 500;
}

.vip-studio {
    position: absolute;
    left: 0;
    top: 0;
    color: #fbfbfb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -.02rem;
    text-transform: uppercase;
    padding: .32rem 1.07rem .32rem .94rem;
    border-radius: 15px 0;
}

.round-it {
    border-radius: 15px;
}

.purple-text {
    color: #a29bfe;
}

.yellow-text {
    color: #fdcb6e
}

.green-text {
    color: #00b894
}

.green-text:hover {
    color: #00b894
}

.gray {
    color: #2d3436;
}

.ad-img {
    max-width: 80%;
    border-radius: 15px;
}

.cover-43 {
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

a {
    text-decoration: none;
}

.dropdown-menu {
    max-height: 200px; /* Ограничиваем высоту */
    overflow-y: auto; /* Добавляем прокрутку */
  }

.dropdown-toggle-c {
    height: 50px;
    width: 100%;
    border-radius: 15px;
}

.dropdown-toggle-c::before {
    content: "\f13a"; /* Unicode для fa-chevron-circle-down */
    font-family: "Font Awesome 5 Free"; /* Указание шрифта Font Awesome */
    font-weight: 900; /* Указание жирности шрифта для правильного отображения иконки */
    padding-right: 0.3em; /* Отступ слева, чтобы имитировать класс me-2 (margin-end) */
}

.btn-little-rounded {
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    height: 50px;
    width: 100%;
    line-height: 1.55;
    border-radius: 15px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.dropdown-menu {
    width: 100%;
    background-color: #efefef;
    border-color: transparent;
}

.form-check-label {
    font-size: 20;
    font-weight: 500;
}

.form-check-input:checked {
    background-color: #00b894;
    border-color: transparent;
}

.img-studio {
    width: 1200px;
    height: 910px;
    object-fit: cover;
}

.image-container img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.results {
    margin-top: 20px;
}

.results div {
    margin-bottom: 20px;
}

.results img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.custom-page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    text-decoration: none;
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
}