{% extends "base.html" %}
{% block title %}
Каталог лучших вебкам-студий
{% endblock %}
{% block meta_desc %}
Ищете идеальную вебкам-студию, которая поможет вам начать успешную карьеру модели? Вы попали по адресу! Наш сайт-каталог создан специально для того, чтобы вы могли легко найти и выбрать студию, которая соответствует вашим потребностям и ожиданиям.
{% endblock %}

{% block content %}
{% include "includes/premium-studios.html" %}
{% include "includes/mini-ad.html" %}
{% include "includes/all-studios.html" %}

{% endblock %}