{% extends "base.html" %}
{% block meta_desc %}Ищете идеальную вебкам-студию, которая поможет вам начать успешную карьеру модели? Вы попали по адресу! Наш сайт-каталог создан специально для того, чтобы вы могли легко найти и выбрать студию, которая соответствует вашим потребностям и ожиданиям.{% endblock %}
{% block content %}


<div class="album">
    <div class="container px-5">
        <div class="row d-flex flex-wrap" id="studuios-box">
            <h1 class="text-center my-4 gray font-weight-bold w-100">Лучшие вебкам-студии</h1>
            {% include "includes/studios-filter.html" %}
            {% for studio in object_list %}
            {% include "includes/studio-card.html" %}
            {% empty %}
            <h3 class="text-start my-4 text-muted">Студии не найдены :(</h3>
            {% endfor %}
            {% include "includes/paginator.html" %}
    </div>
</div>

{% endblock %}