{% extends "base.html" %}
{% block title %}
Вебкам-студия {{ studio.name }} | {% for city in studio.cities.all %}{{ city.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
{% endblock %}
{% block meta_desc %}{{ studio.name }} - {% for format in studio.format.all %}{{ format.name }}{% if not forloop.last %}, {% endif %}{% endfor %} вебкам студия в {% if studio.cities.all|length > 1 %}городах {% else %}городе {% endif %}{% for city in studio.cities.all %}{{ city.name }}{% if not forloop.last %}, {% endif %}{% endfor %}. Страница с отзывами моделей, общим описанием студии и контактами для связи{% endblock %}
{% block content %}
<div class="album">
    <div class="container px-5 text-left">
        <div class="row d-">
            {% include "includes/individual-studio-card.html" %}
            {% include "includes/studio-description.html" %}
            {% include "includes/working-conditions.html" %}
        </div>
    </div>
</div>
{% endblock %}