<div class="album">
    <div class="container px-5">
        <div class="row d-flex flex-wrap" id="studuios-box">
            <h1 class="text-center my-4 gray font-weight-bold w-100">Лучшие вебкам-студии</h1>
            {% include "includes/studios-filter.html" %}
            {% if all_studios_list %}
            {% for studio in all_studios_list %}
            {% include "includes/studio-card.html" %}
            {% endfor %}
            {% else %}
            <h3 class="text-start my-4 text-muted">Студии не найдены :(</h3>
            {% endif %}
        </div>
        <a href="{% url 'main:studio_search' %}" class="d-block text-center"><button class="btn-rounded bg-green"><i class="fa me-2 fa-chevron-circle-down"></i>Посмотреть больше студий</button></a>
    </div>
</div>