{% if forloop.first %}
<div class="carousel-item a-item active">
{% else %}
<div class="carousel-item a-item">
{% endif %}
    <img alt="Slide 1" class="d-block w-100 a-img" onerror="this.style.visibility = 'hidden'" src="{{ video.image.url }}">
    <div class="carousel-caption top-0 mt-4">
      <p class="mt-5 fs-3 text-uppercase">{{ video.short_description }}</p>
      <h1 class="display-4 fw-bolder text-capitalize">{{ video.title }}</h1>
      <a target="_blank" class="text-decoration-none text-white" href="{{ video.link }}">
      <button class="btn-watch px-4 py-2 fs-5 mt-5">

        <span class="btn-watch_lg">

            <span class="btn-watch_sl"></span>

                <span class="btn-watch_text"><i class="fa fa-play"></i> {{settings_list.watch_button_text}}</span>

        </span>

        </button>
    </a>
    </div>
</div>


