{% if video_slider_list %}
 <!-- Caraousel -->
 <div class="container bg-dark col-md-12 mt-5" style="padding: 0;">
  <div class="carousel slide" data-bs-ride="carousel" id="promotion-carousel">
    <div class="carousel-indicators">
      {% for video in video_slider_list %}
        <button aria-label="Slide {{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}" data-bs-slide-to="{{ forloop.counter0 }}" data-bs-target="#promotion-carousel" type="button"></button>
      {% endfor %}
    </div>



    <div class="carousel-inner">
      {% for video in video_slider_list %}
        {% include "includes/carousel-item.html" %}
      {% endfor %}

    </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#promotion-carousel" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previou>
  </div>
</div>

  {% endif %}

