<div class="album">
    <div class="container px-5">
        <h1 class="text-left gray my-4 font-weight-bold">Добро пожаловать на наш каталог вебкам-студий!</h1>
        <p>Ищете идеальную вебкам-студию, которая поможет вам начать успешную карьеру модели? Вы попали по адресу! Наш сайт-каталог создан специально для того, чтобы вы могли легко найти и выбрать студию, которая соответствует вашим потребностям и ожиданиям.</p>
        <div class="row d-flex flex-wrap">
            {% include "includes/description-card.html" with card_title="Широкий выбор студий" card_text="В нашем каталоге представлены десятки вебкам-студий с различными условиями работы, стилями и подходами. Мы собрали лучшие предложения со всей страны, чтобы вы могли найти то, что вам нужно."%}
            {% include "includes/description-card.html" with card_title="Подробные описания" card_text="Каждая студия в нашем каталоге имеет подробное описание, включая информацию о местоположении, условиях работы, предоставляемом оборудовании и бонусах для моделей. Вы сможете заранее узнать все важные детали и выбрать наиболее подходящий вариант."%}
            {% include "includes/description-card.html" with card_title="Отзывы и рейтинги" card_text="Узнайте мнение других моделей, которые уже работали с той или иной студией. Реальные отзывы и рейтинги помогут вам сделать осознанный выбор и избежать неприятных сюрпризов."%}
            {% include "includes/description-card.html" with card_title="Фильтры и сортировка" card_text="Используйте удобные фильтры и систему сортировки, чтобы быстро найти студии, которые соответствуют вашим критериям. Вы можете сортировать по рейтингу, местоположению, условиям работы и другим параметрам."%}
        </div>
    </div>
</div>
