  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">

<section class="mb-4">
  <a target="_blank" class="text-decoration-none" href="{{ settings_list.fansly_url }}">
    <button class="btn-subscribe"><i class="fa fa-key"></i> Subscribe <span class="btn-subscribe-span">and watch</span></button>
    </a>



      </section><section class="mb-4">

        <a target="_blank" class="btn btn-outline-light btn-floating m-1" data-mdb-button-init="" data-mdb-ripple-init="" href="{{ settings_list.instagram_url }}" role="button"><i class="fa fa-instagram"></i></a>
        <a target="_blank" class="btn btn-outline-light btn-floating m-1" data-mdb-button-init="" data-mdb-ripple-init="" href="{{ settings_list.twitter_url }}" role="button"><i class="fa fa-twitter"></i></a>
        <a target="_blank" class="btn btn-outline-light btn-floating m-1" data-mdb-button-init="" data-mdb-ripple-init="" href="{{ settings_list.telegram_url }}" role="button"><i class="fa fa-telegram"></i></a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a class="text-white text-decoration-none" href="Herbal Sommelier" role="button">© 🌿 Herbal Sommelier</a>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>