<nav class="navbar navbar-expand-lg navbar-dark shadow-sm bg-dark">
  <div class="container-fluid mx-5">
    <a class="navbar-brand" href="{% url 'main:index' %}"></a>
    <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarColor01" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <div class="navbar-nav text-decoration-none ms-auto" style="margin-left: 2em">
        <a class="mt-3 mt-lg-0 me-lg-3" href="{{ config.CHAT_LINK }}" target="_blank">
          <button class="btn-rounded bg-dark "><i class="fa-brands fa-telegram me-2"></i>Чат Telegram
          </button>
        </a>
        <a class="mt-3 mt-lg-0" href="{{ config.MANAGER_LINK }}" target="_blank">
          <button class="btn-rounded bg-green">Попасть в каталог
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>