<div class="col-lg-6 md-6 sm-12 d-flex align-items-stretch">
    <div class="card round-it shadow-sm border-0">
        <a href="{% url 'main:studio_detail' slug=studio.slug %}">
            <img alt="" class="card-img-top cover-43 round-it" src="{{ studio.image.url }}">
            <div class="card-body">
                <div class="vip-studio bg-yellow shadow-lg">
                    <i class="fa me-1 fa-diamond"></i><span>PREMIUM</span>
                </div>
                <h5 class="text-dark">{{ studio.name|truncatechars:30 }}</h5>
                <p class="small text-primary font-italic">
                    <i class="fa me-1 fa-map-marker"></i>
                    {% for city in studio.cities.all %}
                        {{ city.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <h5 class="text-start text-muted">{{ studio.description|truncatechars:150 }}</h5>
                <div class="card-props">
                    {% for format in studio.format.all %}
                        <div class="card-prop active">
                            <i class="{{ format.icon }} me-1"></i><span>{{ format.name }}</span>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="card-props">
                    {% for gender in studio.gender.all %}
                        <div class="card-prop active">
                            <i class="{{ gender.icon }} me-1"></i><span>{{ gender.name }}</span>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="card-props">
                    {% if studio.min_age and studio.max_age %}
                        <div class="card-prop active">
                            <i class="fa-solid fa-passport me-1"></i><span>от {{ studio.min_age }} до {{ studio.max_age }}</span>
                        </div>
                    {% endif %}
                    {% if studio.min_percent != '' and studio.max_percent != '' %}
                        <div class="card-prop active">
                            <i class="fa-solid fa-money-bill me-1"></i><span>от {{ studio.min_percent }}% до {{ studio.max_percent }}%</span>
                        </div>
                    {% endif %}
                </div>
            </a>
            {% if studio.contact_button_link and studio.contact_button_text %}
                <a href="{{ studio.contact_button_link }}" target="_blank">
                    <button class="btn-little-rounded text-light bg-blue mt-3">
                        <i class="{{ studio.contact_button_icon }} me-1"></i>{{ studio.contact_button_text }}
                    </button>
                </a>
            {% endif %}
            <a href="{% url 'main:studio_detail' slug=studio.slug %}">
                <button class="btn-little-rounded mt-2">
                    <i class="fa-solid fa-book-open-reader me-2"></i>Подробнее...
                </button>
            </a>
        </div>
    </div>
</div>
