<div class="container">
    <form class="row" method="get" action="{% url 'main:studio_search' %}">
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="dropdown">
                <button class="btn-little-rounded text-dark text-start dropdown-toggle-c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Город
                </button>
                <ul class="dropdown-menu p-2 mt-2">
                    {{ form.cities }}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="dropdown">
                <button class="btn-little-rounded text-dark text-start dropdown-toggle-c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Тип
                </button>
                <ul class="dropdown-menu p-2 mt-2">
                    {{ form.format }}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="dropdown">
                <button class="btn-little-rounded text-dark text-start dropdown-toggle-c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Опыт
                </button>
                <ul class="dropdown-menu p-2 mt-2">
                    {{ form.experience }}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <div class="dropdown">
                <button class="btn-little-rounded text-dark text-start dropdown-toggle-c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Гендер
                </button>
                <ul class="dropdown-menu p-2 mt-2">
                    {{ form.gender }}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mt-2">
            <button type="submit" class="btn-little-rounded text-light bg-green">
                Найти студию <i class="fa-solid ms-2 fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
