<div class="col-lg-3 col-md-6 mt-3 mb-4 mb-lg-4 d-flex align-items-stretch">
    <div class="card round-it shadow-sm border-0">
        <div class="card-body p-4">
            <a href="{% url 'main:studio_detail' slug=studio.slug %}">
                <img alt="" class="img-fluid cover-43 round-it d-block mx-auto mb-3" src="{{ studio.image.url }}">
            </a>
            {% if studio.is_it_top == True %}
                <div class="vip-studio bg-pink shadow-lg">
                    <span>TOP</span>
                </div>
            {% endif %}
            <h5>
                <a href="{% url 'main:studio_detail' slug=studio.slug %}" class="text-dark text-decoration-none">
                    {{ studio.name|truncatechars:30 }}
                </a>
            </h5>
            <a href="{% url 'main:studio_detail' slug=studio.slug %}">
                <p class="small text-primary font-italic">
                    <i class="fa me-1 fa-map-marker"></i>
                    {% for city in studio.cities.all %}
                        {{ city.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
            </a>
            <div class="card-props">
                {% for format in studio.format.all %}
                    <div class="card-prop active">
                        <i class="{{ format.icon }} me-1"></i><span>{{ format.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="card-props">
                {% for gender in studio.gender.all %}
                    <div class="card-prop active">
                        <i class="{{ gender.icon }} me-1"></i><span>{{ gender.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
