<div class="col-12 col-lg-6 mt-3">
    <div class="card round-it shadow-sm border-0">
        <div class="card-body">
            <h3 class="text-dark">Условия работы</h3>
            <hr>
            <h5 class="text-dark">Формат работы</h5>
            <div class="card-props">
                {% for format in studio.format.all %}
                    <div class="card-prop active">
                        <i class="{{ format.icon }} me-1"></i><span>{{ format.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h5 class="text-dark">Опыт работы</h5>
            <div class="card-props">
                {% for experience in studio.experience.all %}
                    <div class="card-prop active">
                        <i class="{{ experience.icon }} me-1"></i><span>{{ experience.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h5 class="text-dark">Кого набирают</h5>
            <div class="card-props">
                {% for gender in studio.gender.all %}
                    <div class="card-prop active">
                        <i class="{{ gender.icon }} me-1"></i><span>{{ gender.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h5 class="text-dark">Знание английского</h5>
            <div class="card-props">
                <div class="card-prop active">
                    <i class="fa-solid fa-language me-1"></i>
                    <span>{% if english == False %} Не требуется {% else %} Требуется {% endif %}</span>
                </div>
            </div>
            <hr>
            <h5 class="text-dark">Возраст</h5>
            <div class="card-props">
                <div class="card-prop active">
                    <i class="fa me-1 fa-heart"></i><span>от {{ studio.min_age }} до {{ studio.max_age }}</span>
                </div>
            </div>
            <hr>
            <h5 class="text-dark">Регулярность выплат</h5>
            <div class="card-props">
                {% for payout in studio.payouts.all %}
                    <div class="card-prop active">
                        <i class="{{ payout.icon }} me-1"></i><span>{{ payout.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h5 class="text-dark">Смены</h5>
            <div class="card-props">
                {% for shift in studio.shifts.all %}
                    <div class="card-prop active">
                        <i class="{{ shift.icon }} me-1"></i><span>{{ shift.name }}</span>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h5 class="text-dark">Наличие оператора</h5>
            <div class="card-props">
                <div class="card-prop active">
                    {% if operator == True %}
                        <i class="fa-solid fa-life-ring me-1"></i><span>Есть</span>
                    {% else %}
                        <i class="fa-regular fa-circle-xmark me-1"></i><span>Отсутсвует</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
